@charset "UTF-8";

/*Mobile_First*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: lightgrey
}

main{
    width: 300px;
    height: 300px;
    display: block;
    margin:auto;
    margin-top:150px;
    background-color: darkgray;
    border-radius: 10px;
    box-shadow: -6px 5px 5px rgba(0, 0, 0, 0.432);
}

main>h2{
    padding-top: 45px;
    text-align: center;

}
.formulário{
    margin: 50px;
    margin-top: 25px;
    
}

#name{
    margin: 5px;
    padding: 5px;
    border: none;
}

#password{
    margin: 5px;
    padding: 5px;
    border: none;
}

#submit{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    width: 100px;
    transition: 0.5s;
}

#submit:hover{
    background-color: rgba(119, 136, 153, 0.534);
}





